/* Neutrals */
$color-black: #000;
$color-white: #fff;

/* Green */
$color-green-primary: #04955F;
$color-green-secondary: #00AF7C;
$color-green-light: #96C121;

/* Yellow */
$color-yellow-primary: #04955F;
$color-yellow-secondary: #FFDA7E;

/* Orange */
$color-orange-primary: #E35030;
$color-orange-secondary: #FF6D2D;
$color-orange-light: #00AF7C;

/* Orange */
$color-brown-primary: #704B43;
$color-brown-secondary: #523D33;
$color-brown-light: #6F4C22;
$color-brown-dark: #333132;

$triphut-gradient: radial-gradient(87.14% 114.3% at 66.13% 12.86%, #04955F 0%, rgba(147, 223, 196, 0) 100%), linear-gradient(180deg, #04955F 0%, #E35030 100%);

// set color variables
$color-primary: #00af7c;
$color-secondary: #FEDA7E;
$color-accent: #FF6C2C;
$color-black: #000;
$color-dark: #333132;
$color-light-gray: #BEBEBE;

$color-light: #fff;
// set font variables
$font-primary: "Roboto", sans-serif;
$font-secondary: "Montserrat", sans-serif;
// set font-size variables
$font-size-small: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xlarge: 36px;
// set font-weight variables
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
