.section {
  padding: 4em 20px;
  a {
    color: $color-primary;
  }
  div[data-testid='flowbite-tooltip-target'] {
    display: inline-block;
  }
}

.add-padding {
  padding: 30px;
  @media screen and (min-width: 992px) {
    padding: 50px;
  }
}
.navbar {
  background-color: transparent;
  z-index: 10;
  @media (min-width: 992px) {
    padding-left: 50px !important;
  }
}
.partners-section {
  padding-bottom: 200px;
  .img {
    &:nth-child(3) {
      img {
        width: 150px;
      }
    }
  }
}

footer {
  color: $color-light;
  padding: 4em 20px;
  a {
    color: $color-light-gray;
    &:hover {
      color: $color-accent !important;
    }
  }
}

.footer-container,
footer {
  background-color: $color-dark;
}

.footerCTA,
.footer-restructure {
  margin-top: -180px;
  top: -200px;
  ul {
    a {
      &:first-child {
        color: $color-orange-primary;
      }
    }
  }
}

.footerCTA {
  padding: 3em 4em;
  background-color: $color-primary;
  background-repeat: none;
  background-position: right center;
  border-radius: 15px;
  color: #fff;
  position: relative;
  margin: auto;
  h2 {
    font-size: 3em;
    span {
      display: inline-block;
      color: #fff;
    }
  }
  @media screen and (min-width: 1224px) {
    h2 {
      font-size: 4em;
      span {
        display: block;
        color: #fff;
      }
    }
  }
}

.footer-restructure {
  @media screen and (min-width: 992px) {
    grid-template-columns: 40% 18% 15% 20% !important;
  }
}

.page-hero {
  height: 418px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.center-element {
  margin: auto;
}

.page-content {
  padding: 4em 0px;
  margin-bottom: -50px;
  min-height: 500px;
  padding-bottom: 250px;
}

.social {
  div {
    margin: 10px 5px;
    display: inline-block;
    border: 1px solid rgba(240, 240, 240, 0.57);
    padding: 5px;
    border-radius: 9999px;

    &:first-child {
      margin-left: 0;
      background-color: initial;
    }
    &:nth-child(2) {
      background-color: $color-orange-primary;
      svg {
        color: white;
      }
    }
  }
}

.hero-header {
  background-image: url('/images/hero-bg.png');
  max-height: 80vh;
  overflow-y: clip;
  @media screen and (max-width: 991px) {
    min-height: 100vh;
  }
}

.request {
    button {
        padding: 10px;
        box-shadow: 0px 22px 65px rgb(255 108 44 / 36%),
                    0px 21px 63px rgb(255 108 44 / 50%);
        svg {

        }
    }
}


.hero-header-body {
    position: relative;
    .group {
        top: 91px;
        position: absolute;
        a {
            position: initial;
        }
    }
    a {
        margin-bottom: 20px;
        box-shadow: 0px 22px 65px rgb(255 108 44 / 36%),
                    0px 21px 63px rgb(255 108 44 / 50%);
        border: 1px solid white;
    }

    img {
        width: 66%;
        height: 85%;
        position: absolute;
        right: 0;
    }

    @media screen and (max-width: 500px) {
        padding-top: 20px;

        h1 {
            font-size: 2.5rem;
        }

        img {
            width: 100%;
            height: 500px;
            position: absolute;
            bottom: 90px;
            right: 0;
        }

        .group {
            position: absolute;
            top: 30px;
            a {
                position: absolute;
                top: 190px;
            }
        }
    }

    @media screen and (min-width: 500px) and (max-width: 991px) {
        padding-top: 20px;

        h1 {
            font-size: 3rem;
        }

        img {
            width: 100%;
            height: 500px;
            position: absolute;
            bottom: 90px;
            right: 0;
        }

        .group {
            position: absolute;
            top: 90px;
            a {
                position: absolute;
                top: 190px;
            }
        }
    }

    @media screen and (min-width: 992px) and (max-width: 1224px) {
        padding-top: 20px;
        h1 {
            font-size: 3rem;
        }
        img {
            width: 100%;
            height: 500px;
            position: absolute;
            bottom: 90px;
            right: 0;
        }

        .group {
            position: absolute;
            top: 90px;
            a {
                position: absolute;
                top: 190px;
            }
        }
    }
}

.vote-item {
  max-width: 1050px;
  margin: 0 auto;
  gap: 20px;
  background: #ffffff;
  border: 1px solid rgba(255, 108, 44, 0.4);
  box-shadow: 0px 30px 94px -4px rgba(255, 108, 44, 0.1);
  border-radius: 16px;
  padding: 1.5em;
  border-left: 8px solid $color-accent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .blurb-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    max-width: 500px;
    margin: 0px;
  }
}

.voting-bar-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
  flex-direction: column;
  .voting-bar {
      .leading-none {
          background-color: #00af7c;
      }
      width: 80%;
      height: 10px;
      background-color: #dbf3ec;
      border-radius: 10px;
      position: relative;
      .voting-bar-fill {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 10%;
          background-color: $color-primary;
          border-radius: 10px;
      }
  }
  .voting-bar-label {
    font-size: 16px;
    font-weight: 400;
    color: $color-primary;
  }
}

.voting-btn {
  border-radius: 100%;
  background-color: $color-secondary;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.faq-toggle {
  border: 1px solid rgba(173, 173, 173, 0.219);
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  margin-bottom: 20px;
  &__circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-primary;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    color: $color-light;
  }
  &__question {
    h4 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0px;
    }

    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    .faq-toggle__icon {
      font-size: 20px;
      transition: all 0.3s ease;
    }
  }
  &__answer {
    font-size: 16px;
    font-weight: 400;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  &.active {
    .faq-toggle__question {
      margin-bottom: 10px;
      .faq-toggle__icon {
        transform: rotate(180deg);
      }
    }
    .faq-toggle__answer {
      max-height: 1000px;
      p {
        margin-left: 80px;
        border-left: 1px solid #ccc;
        padding-left: 20px;
      }
    }
  }
}

.resources-section__link {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  color: transparent;
  position: absolute;
  width: 80%;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}

.social-icon {
  border: 1px solid #bebebe;
  width: 41px;
  height: 41px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f027;
  &:hover {
    background-color: $color-accent;
    color: white !important;
    border: 1px solid $color-accent;
    box-shadow: 0px 0px 8px $color-accent;
  }
}

.color-white {
  color: #fff;
  text-transform: initial;
}

.faq-section {
  margin-left: 5px;
  margin-right: 5px;
  div {
    border: none;
  }
  svg {
    color: $color-primary;
  }
  .faq-header {
    border: 2px solid #e6ecf5;
    border-bottom: 2px solid #e6ecf5;
    border-bottom-width: 2px !important;
    border-radius: 10px !important;
    margin-bottom: 40px;
    &__grid-3 {
      h2 {
        width: 100%;
        display: grid;
        column-gap: 10px;
        grid-template-columns: 12% 80% 8%;
        svg {
          margin-top: 8px;
        }
      }
    }
  }
  button ~ div {
    margin-top: -48px;
    border: 2px solid #e6ecf5;
    border-bottom-width: 2px !important;
    border-top: none;
    margin-bottom: 10px;
    border-radius: 10px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
  }
}

.btn-collapse {
  button {
    margin-top: 2px;
    border-radius: 50px;
    background-color: $color-primary;
    img {
      display: none;
    }
  }
  #connect-wallet-dropdown {
    padding: 0 2px;
    &:hover {
      button {
        color: #00af7c !important;
        background-color: #fff !important;
        border-color: #00af7c !important;
        border-style: solid;
        border: 1px solid #fff;
        box-shadow: 2px 2px 8px currentColor;
        color: $color-primary !important;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
  #connect-wallet-menu {
    margin: 0 5px 0 0;
    border-radius: 10px;
    span {
      color: $color-primary !important;
    }
  }
}

.tr-req {
  button {
    margin-top: 2px;
    border-radius: 50px;
    background-color: #fff;
    color: #000;
  }
  #connect-wallet-dropdown {
    padding: 0 2px;
    &:hover {
      button {
        color: #00af7c !important;
        background-color: #fff !important;
        border-color: #00af7c !important;
        border-style: solid;
        border: 1px solid #fff;
        box-shadow: 2px 2px 8px currentColor;

        color: $color-primary !important;
      }
    }
  }
  #connect-wallet-menu {
      margin: 0 5px 0 0;
      border-radius: 10px;
      span {
          color: $color-primary !important;
      }
  }
}

.email {
    * {
        display: inline-block;
    }
    svg {
        margin-right: 5px;
        color: $color-primary;
    }
    a {
        color: #bebebe !important;
    }
}

.w-fit {
    color: $color-orange-primary;
}

.color-grey {
    color: #bebebe !important;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}
