/* CSS Reset */
*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;0,600;0,800;1,300;1,400;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,300;0,500;0,600;0,800;1,300;1,400;1,600&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

:root {
    /* Colors */

    /* Neutrals */
    --color-black: #000;
    --color-white: #fff;

    /* Green */
    --color-green-primary: #04955F;
    --color-green-secondary: #00AF7C;
    --color-green-light: #96C121;

    /* Yellow */
    --color-yellow-primary: #04955F;
    --color-yellow-secondary: #FFDA7E;

    /* Orange */
    --color-orange-primary: #E35030;
    --color-orange-secondary: #FF6D2D;
    --color-orange-light: #00AF7C;

    /* Orange */
    --color-brown-primary: #704B43;
    --color-brown-secondary: #523D33;
    --color-brown-light: #6F4C22;
    --color-brown-dark: #333132;

    --triphut-gradient: radial-gradient(87.14% 114.3% at 66.13% 12.86%, #04955F 0%, rgba(147, 223, 196, 0) 100%), linear-gradient(180deg, #04955F 0%, #E35030 100%);

    /* Typography Scale */
    --font-size-body: 1.125rem; /* 18px */
    --font-size-body-lg: 1.25rem; /* 20px */
    --font-size-base: 1rem; /* 16px */
    --font-size-support: var(--font-size-base); /* 16px */

    --font-size-h1: 3.75rem; /* 60px */
    --font-size-h2: 3rem; /* 48px */
    --font-size-h3: 2.25rem; /* 36px */
    --font-size-h4: 1.875rem; /* 30px */
    --font-size-h5: 1.5rem; /* 24px */

    --font-family-paragraphs: 'Montserrat', sans-serif;
    --font-family-headers: 'Barlow Condensed', sans-serif;
    --font-weight-h-dark: 600;
    --font-weight-h-light: 300;
    --font-variant-caps: all-petite-caps;

    /* Spacing Units */
    --spacing-xs: 0.25rem; /* 8px */
    --spacing-sm: 0.5rem; /* 8px */
    --spacing-base: 1rem; /* 16px */
    --spacing-md: 1.25rem; /* 20px */
    --spacing-lg: 1.5rem; /* 24px */
    --spacing-xl: 2rem; /* 32px */

    /* Border Radius */
    --border-radius-xs: 0.25rem; /* 4px, checkboxes */
    --border-radius-sm: 0.5rem; /* 8px, buttons/inputs/links */
    --border-radius-base: 2rem; /* 24px, containers/elements */
    --border-radius-round: 9999px; /* rounded, age-old trick for _always_ rounded borders */

    /* Drop Shadow */
    --drop-shadow-base: 0 1.25rem 6.25rem -1.25rem rgba(ff, 6d, 2d, 0.1); /* box-shadow, small screens */
    --drop-shadow-lg: 0 1.5rem 6.25rem -1.25rem rgba(0, 0, 0, 0.15); /* box-shadow, medium/large screens */

    --drop-shadow-orange-lg: 0px 10px 12px 1px rgb(255 109 45 / 30%), 0 6px 20px 0 rgb(255 109 45 / 30%); /* box-shadow, medium/large screens */

    /* Layout/Breakpoints */
    --breakpoint-sm: 23.5rem; /* 376px, small/mobile */
    --breakpoint-md: 48rem; /* 768px, medium/tablet */
    --breakpoint-md-max: 62rem; /* 992px, medium/tablet */
    --breakpoint-lg: 90rem; /* 1440px, large/desktop */

    /* Grid System */
    --grid-template: repeat(4, minmax(0, 1fr)); /* small/mobile, 4 columns */
    --grid-gap: var(--spacing-base);
}

@media screen and (min-width: 23.5rem) {
  :root {
    --grid-template: repeat(12, minmax(0, 1fr)); /* large/desktop, 12 columns */
    --grid-gap: var(--spacing-md);
  }
}

body,
html {
  margin: 0;
  // font-family: var(--font-family-paragraphs);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-base);
  height: 100%;
  background-color: var(--color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
