
input[type="text"],input[type="email"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="week"],input[type="number"],input[type="password"],input[type="search"],input[type="tel"],input[type="url"],input[type="color"],textarea {
    border-radius: 5px;
    padding: 8px 30px;
    border: 1px solid rgba(195, 195, 195, 0.826);
    font-size: 18px;
    height: 50px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.066);
}

label {
    color:#6B6B6B;
    font-size: 16px;
    margin-bottom:10px
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.066);
}

.subscribe-form-container{
    display: flex;
    align-items: center;
}

form{
    width: 100%;
}

.sign-up-input{
    border-radius: 36px !important;
    padding: 8px 30px;
    border: 1px solid rgba(255, 255, 255, 0.826);
    font-size: 18px;
    height: 50px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 500px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.066);
    border: 1px solid $color-light;
}

.signup-btn {
    border-radius: 100%;
    background-color: #FF6C2C;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin-left: -66px;
    margin-top: -16px;
}